@media (max-width: 500px) {
  .carousel-item img {
    height: 500px;
  }
}
.navbar {
  font-family: viga;
  font-size: 25px;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50% !important;
}
.carousel-item img {
  height: 670px;
}
.jumbotron {
  background: #bbb6b6;
}
#projects {
  background-color: #bbb6b6;
}
section {
  padding-top: 4rem;
}
.card > img {
  max-width: 100%;
  max-height: 8rem;
}
.card {
  box-shadow: 10px 5px 5px black;
  background: whitesmoke;
  transition: transform;
  cursor: grab;
  text-align: center;
  margin-right: 24px;
}
.card:hover {
  transform: scale(1.2);
}
