@media screen and (max-width: 500px) {
  .carousel-item img {
    height: 400px !important;
  }
}
:root {
  --primary-color: #bbb6b67b;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --quaternary-color: rgba(0, 0, 0, 0.7);
}

.dark-theme {
  --primary-color: #000000;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
  --quaternary-color: #6b6de08c;
}

#home {
  background-color: var(--secondary-color);
}
#icon {
  width: 55px;
  cursor: pointer;
}

.navbar a {
  color: #ffffff;
}
#jumbotron h1,
p {
  color: var(--tertiary-color);
}

#about h2,
p {
  color: var(--tertiary-color);
}
#myskils h2,
h4,
ul {
  color: var(--tertiary-color);
}
#projects h2,
p {
  color: var(--tertiary-color);
}
#contact h2,
label {
  color: var(--tertiary-color);
}
.navbar {
  font-family: viga;
  background-color: var(--quaternary-color);
}

.jumbotron {
  background: var(--primary-color);
  font-family: viga;
}
#about h2 {
  font-family: viga;
  font-size: 25px;
  font-weight: bold;
}
#about p {
  font-family: viga;
}

#myskils {
  background: var(--primary-color);
  font-family: viga;
}
#myskils h2 {
  font-family: viga;
  font-size: 25px;
  font-weight: bold;
}
#myskils h4 {
  font-family: viga;
  font-size: 20px;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-item img {
  height: 840px;
}

#projects {
  background-color: var(--secondary-color);
}
#projects h2 {
  padding-bottom: 3rem;
  font-family: viga;
  font-size: 25px;
  font-weight: bold;
}
#projects .p {
  padding-bottom: 1rem;
  font-family: viga;
  font-size: 20px;
}

section {
  padding-top: 5rem;
}

.card > img {
  max-width: 100%;
  max-height: 8rem;
  border-radius: 20;
}
.card {
  box-shadow: 10px 5px 5px var(--quaternary-color);
  background: #6b6de0;
  transition: transform;
  cursor: grab;
  text-align: center;
  margin-right: 24px;
}
.card:hover {
  transform: scale(1.2);
}
.card-body {
  font-family: viga;
  font-size: 17px;
  background-color: var(--secondary-color);
}

#contact {
  background: var(--primary-color);
}
#contact h2 {
  font-family: viga;
  font-size: 25px;
}

#contact label {
  font-family: viga;
}

#contact button {
  font-family: viga;
}

.footer {
  background: rgba(32, 30, 30, 0.7);
}
